# Aturan-aturan editor
[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

# Aturan-aturan untuk file-file dengan ekstensi tertentu
[*.md]
trim_trailing_whitespace = false
