# Server
HOST=localhost
PORT=5000

# Database
PGUSER=<Nama User Anda>
PGPASSWORD=<Password User Anda>
PGDATABASE=<Nama Database Anda>
PGHOST=localhost
PGPORT=5432

# JWT
ACCESS_TOKEN_KEY=<Access Token Key Anda>
REFRESH_TOKEN_KEY=<Refresh Token Key Anda>
ACCESS_TOKEN_AGE=<Access Token Age Anda>

# Message broker
RABBITMQ_SERVER=amqp://localhost

# Mail
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=null
SMTP_PASSWORD=null

# AWS
AWS_ACCESS_KEY_ID=<Access Key Id Anda>
AWS_SECRET_ACCESS_KEY=<Secret Access Key Anda>
AWS_BUCKET_NAME=<Bucket Name Anda>

# Redis
REDIS_SERVER=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
